<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74222438745-4c2493jlkeblpfs1tapb6kem5ituuigu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74222438745-4c2493jlkeblpfs1tapb6kem5ituuigu</string>
	<key>API_KEY</key>
	<string>AIzaSyALElG4gzbVfG8kMx5YtAzLGxE3igXWrME</string>
	<key>GCM_SENDER_ID</key>
	<string>74222438745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chlela.basereactnative</string>
	<key>PROJECT_ID</key>
	<string>basereactnative-875bf</string>
	<key>STORAGE_BUCKET</key>
	<string>basereactnative-875bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:74222438745:ios:61d717fe991c73fd46e448</string>
</dict>
</plist>
